IndentWidth: 4
BreakBeforeBraces: Custom
NamespaceIndentation: All
BinPackArguments: false
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: false
BreakTemplateDeclarations: true
ColumnLimit: 120
# BracketAlignmentStyle: BlockIndent
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Left
InsertNewlineAtEOF: true
AlignAfterOpenBracket: BlockIndent
PenaltyReturnTypeOnItsOwnLine: 1000

ForEachMacros:   ['list_for_each',
                 'list_for_each_safe',
                 'list_for_each_continue',
                 'list_for_each_reverse',
                 'list_for_each_safe_reverse',
                 'list_for_each_continue_reverse']
